@use 'sass:color';

$color-white: #fff;

$color-blue-50: #0068bc;

$color-purple-50: #5D4CB6;
$color-purple-10: color.adjust($color-purple-50, $lightness: 40%);

$color-black: #221D3D;

$color-yellow-50: #f2a900;
$color-yellow-80: color.adjust($color-yellow-50, $lightness: -30%);
$color-yellow-70: color.adjust($color-yellow-50, $lightness: -20%);
