@use 'variables/color' as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-variant-ligatures: none;
}

body {
	background: $color-yellow-50; /* fallback for old browsers */
	background: linear-gradient(
		220deg,
		$color-yellow-50,
		$color-purple-50,
		$color-black,
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: var(--font-text), sans-serif;
}

pre {
	tab-size: 4;
	font-family: var(--font-code), monospace;
	font-size: 0.94rem;
}

a {
	color: $color-purple-50;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
